<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('jobSearch')"></head>
<body>

<div sec:authorize="isAnonymous()">
    <div th:replace="layout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_CANDIDATE')">
    <div th:replace="public/candidateLayout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_COMPANY')">
    <div th:replace="public/companyLayout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
     <div th:replace="public/adminLayout :: nav"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col s9">
            <h2>Jobs</h2>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div th:each="job : ${jobs}" class="col s12">
            <a th:href="@{|/job/${job.id}|}">
                <div class="card" style="background-color:#D3D3D3;border: 4px solid black;">
                    <div class="card-content">
                        <div class="card-title">
                            <div class="name" style="color: black;" th:text="${job.name}">Job Name</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>