<!DOCTYPE html>
<html lang="en">
<head th:replace="candidateLayout :: head('profile')"></head>
<body>
<div th:replace="candidateLayout :: nav"></div>
<div th:replace="candidateLayout :: searchbar"></div>
<div th:replace="candidateLayout :: flash"></div>

<div th:action="@{/submitSurvey}" th:object = "${candidateSurveyResults}" class="grayContainerRounded" style="width:85%; border-radius: 0px; height: fit-content; overflow: hidden;">
    <p style="font-size: 17px;font-weight: normal; text-align: left;"> Welcome! Please answer the following questions, and you will be one step closer to finding a job match</p>
    <div class="grayContainer" style="width: 100%; height: fit-content; ">
        <p style="font-size:14px; text-align: left;">Please rate yourself. On a scale of 1-5 (5 being Strongly Agree) of your understanding of these concepts</p>
        <div>
            <p style="font-size:14px; text-align: left;">1. I can best be described as unconventional, creative and independent</p>
            <form th:field="*{q1}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">2. At work once you know what is required, you should be left to get on with it</p>
            <form th:field="*{q2}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">3. I can best be described as team-focused, reliable and persistent</p>
            <form th:field="*{q3}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">4. I can best be described as competitive and decisive</p>
            <form th:field="*{q4}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">5. I like to be clearly told what to do</p>
            <form th:field="*{q5}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">6. At work people would best describe me as thoughtful</p>
            <form th:field="*{q6}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">7. I like to create things</p>
            <form th:field="*{q7}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">8. At work I like to work independently</p>
            <form th:field="*{q8}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">9. At work I can be quite assertive</p>
            <form th:field="*{q9}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
        <div>
            <p style="font-size:14px; text-align: left;">10. I like a close-knit team in which to work</p>
            <form th:field="*{q10}" method="post" style="font-size: 14px;font-weight: normal; text-align: left;margin-left: 15px;">
                <div><input type="radio" name="1" value="1" /> 1 (Strongly Disagree)</div>
                <div><input type="radio" name="1" value="2" /> 2 (Disagree)</div>
                <div><input type="radio" name="1" value="3" /> 3 (Neutral)</div>
                <div><input type="radio" name="1" value="4" /> 4 (Agree)</div>
                <div><input type="radio" name="1" value="5" /> 5 (Strongly Agree)</div>
            </form>
        </div>
    </div>

    <button type="submit" style=" margin-right: 0%; margin-top: 10px; float:right;" class="button">Finish</button>

</div>


<div th:replace="companyLayout :: scripts"></div>
</body>
</html>