<!DOCTYPE html>
<html lang="en">
<head th:replace="candidateLayout :: head('profile')"></head>
<body>
<div th:replace="candidateLayout :: nav"></div>
<div th:replace="candidateLayout :: searchbar"></div>
<div th:replace="candidateLayout :: flash"></div>

<div class="grayContainerRounded" style="width:85%; margin-top: 20px; height: fit-content; overflow: hidden;">
    <p style="font-size: 17px;font-weight: bold; text-align: center;">Thank you! Your job has been posted. Stay tuned for more information about your job posting and potential matches, expect to hear back from us with in the next few days.</p>

</div>


<div th:replace="companyLayout :: scripts"></div>
</body>
</html>
