<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('')"></head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:replace="layout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_CANDIDATE')">
    <div th:replace="public/candidateLayout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_COMPANY')">
    <div th:replace="public/companyLayout :: nav"></div>
</div>
<!--
<div sec:authorize="hasRole('ROLE_ADMIN')">
     <div th:replace="public/adminLayout :: nav"></div>
</div>
-->

<div class="grayContainerRounded" style="width:85%; margin-top: 10px; height: fit-content; overflow: hidden;">
    <p style="font-size: 20px;font-weight: bold; margin:0px; text-align: left;">Candidate Information</p>
    <p style="font-size: 17px;font-weight: normal;" th:text="|${candidate.name}|">John Smith</p>
    <p style="font-size: 17px;font-weight: normal;" th:text="|${candidate.email}|">TheDoctor@yahoo.com</p>

    <div th:if="${candidate.profilePic} != null">
        <a th:href="@{|/profilePic/${candidate.profilePic.id}|}" class="actions">
            <img class="imgCenter" style="height:400px;" th:src="@{|/auth/candidate/profilePic/${candidate.profilePic.id}.img|}" alt="Profile Picture" />
        </a>
    </div>
    <div th:if="${candidate.profilePic} == null">
        <img class="imgCenter" style="height:400px;" th:src="@{/images/profile_picture_example.jpeg}" alt="Default Profile Picture" />
    </div>


    <button class="button" style="float:left;">Contact</button>
    <div style="float:right;">
        <div th:if="${candidate.resume != null}">
            <a th:href="@{|/resume/${candidate.resume.id}|}" style='text-decoration: underline; font-size: 14px;' >View Resume</a>
        </div>
        <div th:if="${candidate.resume == null}">
            <p>No Resume Available</p>
        </div>

        <!-- FIND A WAY TO ONLY INCLUDE THIS LINK I THEY'VE TAKEN THE SURVEY.-->
       <p style="margin:0px;"></p>
        <a th:href="@{|/candidateSurveyResults/${candidate.id}|}" style='text-decoration: underline; font-size: 14px;' >View Survey Results</a>
    </div>

</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>