<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('login')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>

<div class="grayContainerRounded" style="margin-top: 30px;">
    <p>Select Account Type</p>
    <div style="width: 550px; display: block; margin: 0 auto;">
        <a th:href="@{/auth/candidate/candidateLogin}">
            <div style="width: 200px;float:left; background-color: #ffffff; border: 3px solid #000000;">
                <img class="" th:src="@{/images/candidate.png}" alt="Candidate Image" style="border: 2px solid #000000; margin: 20px; height: 150px;width: 150px;" />
                <p style="color:#000000;font-size: 18px;vertical-align:middle; margin:10px;">Candidate Account</p>
                <p style="color:#000000;font-size: 13px;vertical-align:middle; margin:10px;">For users looking for jobs postings that best match their skill set.</p>
            </div>
        </a>
        <a th:href="@{/auth/company/companyLogin}">
            <div style="width: 200px;float:right; background-color: #577dac; border: 3px solid #000000;">
                <img class="" th:src="@{/images/company.png}" alt="Company Image" style="border: 2px solid #000000; margin: 20px; height: 150px;width: 150px;" />
                <p style="color:#ffffff;font-size: 18px;vertical-align:middle; margin:10px;">Company Account</p>
                <p style="color:#ffffff;font-size: 13px;vertical-align:middle; margin:10px;">Make job postings and select employees that best match that position.</p>
            </div>
        </a>
    </div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>