<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('candidate profile')"></head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:replace="layout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_CANDIDATE')">
    <div th:replace="public/candidateLayout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_COMPANY')">
    <div th:replace="public/companyLayout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
     <div th:replace="public/adminLayout :: nav"></div>
</div>

<div class="container">
    <div class="row">
            <p class="name" style="font-size: 28px;font-weight: bold;float:left;color: black;" th:text="${company.name}">Company Name</p>
            <p style="font-size: 28px;font-weight: bold;float:right;color: black;"  th:text="${company.city}+', '+${company.state}">Company Location</p>
    </div>
    <p style="font-size: 20px;" th:text="'Company Email: ' + ${company.email}">Jobs Available</p>

    <p style="font-size: 20px;" th:text="${#lists.size(jobs)}+ ' Jobs Available'">Jobs Available</p>
    <div class="divider"></div>
    <div class="row">
        <div th:each="job : ${jobs}" class="col s12">
            <a th:href="@{|/job/${job.id}|}">
                <div class="card" style="background-color:#D3D3D3;border: 4px solid black;">
                    <div class="card-content">
                        <div class="card-title">
                            <div class="name" style="color: black;" th:text="${job.name}">Job Name</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>