<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('Candidate Profile')"></head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:replace="layout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_CANDIDATE')">
    <div th:replace="public/candidateLayout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_COMPANY')">
    <div th:replace="public/companyLayout :: nav"></div>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
     <div th:replace="public/adminLayout :: nav"></div>
</div>

This is where a company's public profile will be displayed

<div th:replace="layout :: scripts"></div>

</body>
</html>